@use '../abstracts' as *;

body {
    background-color: #000;
}

// Main container
.container {
    max-width: $maxWidth;
    margin: 0px auto;
}

.wrapper {
    overflow: hidden; // Content is clipped if necessary to fit the padding box.
    min-width: $minWidth;
    @include flexbox();
    @include flex-direction(column);
}
