@use '../abstracts' as *;

body {
    background-color: #000;

    a:focus {
        outline: 1px solid #fff;
    }
}

// Main container
.container {
    max-width: $maxWidth;
    margin: 0px auto;
}

.wrapper {
    overflow: hidden; // Content is clipped if necessary to fit the padding box.
    min-width: $minWidth;
    @include flexbox();
    @include flex-direction(column);
}
