@font-face {
    font-family: 'Montserrat';
    src: url('../assets/fonts/Montserrat-Regular.eot');
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
        url('../assets/fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Montserrat-Regular.woff2') format('woff2'),
        url('../assets/fonts/Montserrat-Regular.woff') format('woff'),
        url('../assets/fonts/Montserrat-Regular.ttf') format('truetype'),
        url('../assets/fonts/Montserrat-Regular.svg#Montserrat-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../assets/fonts/Montserrat-Light.eot');
    src: local('Montserrat Light'), local('Montserrat-Light'),
        url('../assets/fonts/Montserrat-Light.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Montserrat-Light.woff2') format('woff2'),
        url('../assets/fonts/Montserrat-Light.woff') format('woff'),
        url('../assets/fonts/Montserrat-Light.ttf') format('truetype'),
        url('../assets/fonts/Montserrat-Light.svg#Montserrat-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../assets/fonts/Montserrat-ExtraBold.eot');
    src: local('Montserrat ExtraBold'), local('Montserrat-ExtraBold'),
        url('../assets/fonts/Montserrat-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Montserrat-ExtraBold.woff2') format('woff2'),
        url('../assets/fonts/Montserrat-ExtraBold.woff') format('woff'),
        url('../assets/fonts/Montserrat-ExtraBold.ttf') format('truetype'),
        url('../assets/fonts/Montserrat-ExtraBold.svg#Montserrat-ExtraBold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
